*{
    color:#fff600;
    background-color:black;
    border: #fff600 2px;
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
}

.item{
    background: deeppink;
    border: 4px;
    height: 100px;
    flex:1;
}